@mixin cardContent {
	.card__content {
		border-bottom: 0.8px solid rgba(220, 220, 220, 0.543);
		text-align: center;

		&_name {
			color: color(primary-very-dark-ds-blue);
			font-size: 1.15rem;
			margin-bottom: 10px;
		}
		&_age {
			color: color(primary-dark-grayish-blue);
			font-weight: 200;
			margin-left: 5px;
		}
		&_city {
			color: color(primary-dark-grayish-blue);
			font-size: 0.9rem;
			margin-bottom: 25px;
		}
	}
}
