@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--primary-dark-cyan:hsl(185, 75%, 39%);
	--primary-very-dark-ds-blue: hsl(229, 23%, 23%);
	--primary-dark-grayish-blue: hsl(227, 10%, 46%);
	--neutral-dark-gray: hsl(0, 0%, 59%)
}

html{
	box-sizing: border-box;
}

*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}


body{
	background-color: var(--primary-dark-cyan);
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
}


.container{
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.card{
	background-color: white;
	border-radius: 16px;
	box-shadow: 22px 23px 46px 21px rgba(0,0,0,0.15);
	height: 370px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 320px;
}

.card__header{
	background: url('./images/bg-pattern-card.svg');
	background-size: cover;
	height: 140px;
}

.card__header__picture_container{
	border:5px solid rgb(249, 249, 249);
	border-radius: 50%;
	margin: -55px auto 20px auto;
	overflow: hidden;
	width: 30%;
}

.image_profile{
	display: block;
	height: auto;
	width: 100%;
}

.card__content{
	border-bottom: 0.8px solid rgba(220, 220, 220, 0.543);
	margin: auto;
	text-align: center;
}

.card__content_name{
	color: var(	--primary-very-dark-ds-blue);
	font-size: 1rem;
	margin-bottom: 10px;
}

.card__content_age{
	color: var(--primary-dark-grayish-blue);
	font-weight: 400;
	margin-left: 10px;
}

.card__content_city{
	color: var(--primary-dark-grayish-blue);
	font-size:.8rem;
	font-weight: 400;
	margin-bottom: 28px;
}


.card__footer{
	display: flex;
	margin: 20px auto 10px auto;
	padding: 0 25px;
}

.card__footer_social{
	display: inline-block;
	margin: auto;
	text-align: center;
}

.card__footer_social h2{
	color: var(	--primary-very-dark-ds-blue);
	margin: 5px auto;
	font-size: 1.1rem;

}
.card__footer_social p{
	color:var(	--primary-dark-grayish-blue);
	font-size: .6rem;
	font-weight: 400;
	letter-spacing: 1.1px;
	margin-top: 8px;
}

.circles, .circle__top,.circle__bottom {
	position: absolute;
}

.circle__top{
	bottom: -10rem;
	left: -55rem;
	opacity: .8;
	transform:  scale(.9) translate(-10px, -10px);
}

.circle__bottom{
	left: -110px;
	opacity: .8;
	top:10px;
}

@media (min-width: 1440px){

	.card{
		height: 372px;
		width: 350px;
	}
	.circle__top{
		bottom: -10rem;
		left: -60rem;
		opacity: .8;
	}

	.circle__bottom{
		top:10px;
		left: -30px;

	}



}